src/flows.json
[{"id":"d6ce2a7b.4b5958","type":"tab","label":"IoT client Services","disabled":false,"info":""},{"id":"63f2c02a.a071b","type":"tab","label":"IoT","disabled":false,"info":""},{"id":"870f4742.20a068","type":"subflow","name":"Get last IoT Sensor value","info":"","category":"","in":[{"x":100,"y":40,"wires":[{"id":"fdf9285a.116d48"}]}],"out":[{"x":1260,"y":660,"wires":[{"id":"9b1dee0c.54968","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7aba353b.f88a5c","type":"subflow","name":"Convert mysql resultset to chart inject data","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"6886d4c7.87b4ac"}]}],"out":[{"x":960,"y":380,"wires":[{"id":"90e322d2.4ae4d","port":0}]}],"env":[],"color":"#FFCC66"},{"id":"c2893362.6682b","type":"subflow","name":"Get IoT sensor definition","info":"","category":"","in":[{"x":80,"y":40,"wires":[{"id":"93336bc0.5e93a8"}]}],"out":[{"x":940,"y":240,"wires":[{"id":"f2cb92c1.9494b","port":0}]},{"x":940,"y":420,"wires":[]}],"env":[],"color":"#DDAA99"},{"id":"d3cc7cce.0dcbb","type":"mqtt-broker","z":"","name":"local","broker":"dk9mbs.de","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"84e0a66a.37a498","type":"MySQLdatabase","z":"","host":"10.8.1.1","port":"3306","db":"tuxlog","tz":""},{"id":"8453efa7.79e97","type":"ui_group","z":"","name":"Verlauf","tab":"1eaec479.793b4c","disp":true,"width":6,"collapse":true},{"id":"d76b05af.d92d28","type":"ui_group","z":"","name":"Box 1","tab":"1eaec479.793b4c","order":1,"disp":true,"width":"6","collapse":true},{"id":"91df5986.3d54e8","type":"ui_group","z":"","name":"Box 2","tab":"1eaec479.793b4c","order":2,"disp":true,"width":"6","collapse":true},{"id":"ecb51754.161ae8","type":"ui_group","z":"","name":"Box 3","tab":"1eaec479.793b4c","order":3,"disp":true,"width":"6","collapse":true},{"id":"ce503766.a63e38","type":"ui_group","z":"","name":"Anzucht Außen","tab":"1eaec479.793b4c","disp":true,"width":"6","collapse":true},{"id":"1eaec479.793b4c","type":"ui_tab","z":"","name":"FarmIoT","icon":"dashboard","disabled":false,"hidden":false},{"id":"fdf9285a.116d48","type":"function","z":"870f4742.20a068","name":"read the last value from database","func":"msg.topic=\"SELECT sensor_value FROM iot_sensor_data WHERE sensor_id='\"+msg.topic+\"' ORDER BY id DESC Limit 1;\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":80,"wires":[["63135301.268a0c"]]},{"id":"63135301.268a0c","type":"mysql","z":"870f4742.20a068","mydb":"84e0a66a.37a498","name":"","x":670,"y":200,"wires":[["9b1dee0c.54968"]]},{"id":"9b1dee0c.54968","type":"function","z":"870f4742.20a068","name":"set the payload","func":"msg.payload={\"value\":msg.payload[0].sensor_value, \"unit\": \"C\"};\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":360,"wires":[[]]},{"id":"90e322d2.4ae4d","type":"function","z":"7aba353b.f88a5c","name":"convert mysql resultset to chardata","func":"var x=0;\nvar data = [];\nvar i=0;\n\nvar data1=[];\nvar data2=[];\nvar data3=[];\nvar data4=[];\n\n\nfor(i=0; i<msg.payload.length; i++) {\n    var item=msg.payload[i];\n    item.x=new Date(item.x).getTime();\n\n    if(item.sensor_id==\"Box1\") data1.push(item);\n    if(item.sensor_id==\"Box2\") data2.push(item);\n    if(item.sensor_id==\"Box3\") data3.push(item);\n    if(item.sensor_id==\"Aussen\") data4.push(item);\n    \n\n    //data.push(item);\n}\n\n\nmsg.payload = [{label: [msg.topic,\"Box2\",\"Box3\",\"Aussen\"], data: [data1,data2,data3,data4], series: [msg.topic,\"Box2\",\"Box3\",\"Aussen\"]}];\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":460,"y":320,"wires":[[]]},{"id":"6886d4c7.87b4ac","type":"function","z":"7aba353b.f88a5c","name":"get data from box 1","func":"msg.topic=\"SELECT sensor_id, sensor_value as y, created_on as x FROM iot_sensor_data ORDER BY id DESC Limit \"+msg.maxrecords+\";\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":40,"wires":[["4c46e168.fa8fc"]]},{"id":"4c46e168.fa8fc","type":"mysql","z":"7aba353b.f88a5c","mydb":"84e0a66a.37a498","name":"","x":450,"y":120,"wires":[["2201ba0e.6139e6"]]},{"id":"2201ba0e.6139e6","type":"change","z":"7aba353b.f88a5c","name":"Set topic to Box1","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensorid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":220,"wires":[["90e322d2.4ae4d"]]},{"id":"744d3e34.a057b","type":"udp in","z":"d6ce2a7b.4b5958","name":"","iface":"","port":"1200","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":180,"y":140,"wires":[["71d099bb.56e7e8","279fd51.36fff2a"]]},{"id":"71d099bb.56e7e8","type":"function","z":"d6ce2a7b.4b5958","name":"Build the content","func":"msg.ip=msg.ip;\nmsg.port=msg.port;\nmsg.payload=\"YOURBROKERIS;192.168.2.110;1883;\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["6fb23d8d.51ffb4"]]},{"id":"dbb58d10.8f3fb","type":"udp out","z":"d6ce2a7b.4b5958","name":"Send the response","addr":"","iface":"","port":"3333","ipv":"udp4","outport":"3000","base64":false,"multicast":"broad","x":850,"y":140,"wires":[]},{"id":"279fd51.36fff2a","type":"debug","z":"d6ce2a7b.4b5958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":200,"wires":[]},{"id":"abab4ce5.22f53","type":"debug","z":"d6ce2a7b.4b5958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":200,"wires":[]},{"id":"6fb23d8d.51ffb4","type":"delay","z":"d6ce2a7b.4b5958","name":"","pauseType":"random","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1000","randomUnits":"milliseconds","drop":false,"x":610,"y":140,"wires":[["dbb58d10.8f3fb","abab4ce5.22f53"]]},{"id":"12f583ae.c62c1c","type":"comment","z":"d6ce2a7b.4b5958","name":"Wait for cient requests and send the clientinfo string","info":"","x":310,"y":60,"wires":[]},{"id":"dc901943.d2a368","type":"mosca in","z":"d6ce2a7b.4b5958","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":210,"y":320,"wires":[["5fcc7676.8f5818"]]},{"id":"51a98d40.473814","type":"mqtt in","z":"63f2c02a.a071b","name":"","topic":"temp/sensor","qos":"0","datatype":"auto","broker":"d3cc7cce.0dcbb","x":190,"y":120,"wires":[["cd66e14c.99769","8c1791a6.c4e2d"]]},{"id":"cd66e14c.99769","type":"json","z":"63f2c02a.a071b","name":"","property":"payload","action":"","pretty":false,"x":350,"y":120,"wires":[["48b52e0e.c8e17"]]},{"id":"207ccdb0.ac4412","type":"comment","z":"63f2c02a.a071b","name":"Log the values","info":"","x":660,"y":80,"wires":[]},{"id":"b2b8d4bf.9264d8","type":"comment","z":"63f2c02a.a071b","name":"Temperatur Sensoren","info":"","x":220,"y":80,"wires":[]},{"id":"6236f3e2.83107c","type":"comment","z":"63f2c02a.a071b","name":"Box 1","info":"","x":1230,"y":640,"wires":[]},{"id":"fc423c59.9ca47","type":"comment","z":"63f2c02a.a071b","name":"Box 2","info":"","x":1230,"y":700,"wires":[]},{"id":"d369b89a.670688","type":"comment","z":"63f2c02a.a071b","name":"Box 3","info":"","x":1230,"y":760,"wires":[]},{"id":"fe3b77a2.238e08","type":"comment","z":"63f2c02a.a071b","name":"Außerhalb der Box","info":"","x":1270,"y":820,"wires":[]},{"id":"2cf98004.29b9d","type":"mysql","z":"63f2c02a.a071b","mydb":"84e0a66a.37a498","name":"","x":670,"y":280,"wires":[["dc3c9923.e780c8"]]},{"id":"6124e168.6bda7","type":"function","z":"63f2c02a.a071b","name":"build sql statement","func":"var sql=\"\";\n\nsql=\"INSERT INTO iot_sensor_data SET sensor_id='\"+msg.payload.id+\"', sensor_value='\"+msg.value+\"',\"+\n    \"sensor_namespace='sensor.temp';\"\n\nnode.log(sql);\nmsg.topic=sql;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["2cf98004.29b9d"]]},{"id":"dc3c9923.e780c8","type":"debug","z":"63f2c02a.a071b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":380,"wires":[]},{"id":"3c722b03.97a9c4","type":"inject","z":"63f2c02a.a071b","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":150,"y":520,"wires":[["a8fbdd16.9424e"]]},{"id":"dfa9967f.eeff48","type":"ui_chart","z":"63f2c02a.a071b","name":"","group":"8453efa7.79e97","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":880,"wires":[[]]},{"id":"f0cd0e26.3cb7f","type":"subflow:7aba353b.f88a5c","z":"63f2c02a.a071b","name":"","env":[],"x":670,"y":880,"wires":[["dfa9967f.eeff48"]]},{"id":"aff2cd01.7c92d","type":"change","z":"63f2c02a.a071b","name":"","rules":[{"t":"set","p":"sensorid","pt":"msg","to":"Box1","tot":"str"},{"t":"set","p":"maxrecords","pt":"msg","to":"2500","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":880,"wires":[["f0cd0e26.3cb7f"]]},{"id":"8c1791a6.c4e2d","type":"debug","z":"63f2c02a.a071b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":40,"wires":[]},{"id":"a8fbdd16.9424e","type":"ui_button","z":"63f2c02a.a071b","name":"","group":"8453efa7.79e97","order":3,"width":0,"height":0,"passthru":true,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":140,"y":580,"wires":[["aff2cd01.7c92d","3f623ea4.20f8a2","d07e7269.e03d6","d87cafcc.d20c5","a6e21651.782438"]]},{"id":"a6e67304.6d756","type":"ui_gauge","z":"63f2c02a.a071b","name":"","group":"d76b05af.d92d28","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"units","format":"{{value}} C°","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1090,"y":640,"wires":[]},{"id":"c834578c.8bc918","type":"subflow:870f4742.20a068","z":"63f2c02a.a071b","name":"","env":[],"x":610,"y":640,"wires":[["10800b3f.de9015"]]},{"id":"3f623ea4.20f8a2","type":"change","z":"63f2c02a.a071b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Box1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":640,"wires":[["c834578c.8bc918"]]},{"id":"c046e46e.61a6d8","type":"ui_gauge","z":"63f2c02a.a071b","name":"","group":"91df5986.3d54e8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"units","format":"{{value}} C°","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1090,"y":700,"wires":[]},{"id":"24e0b9b8.6358f6","type":"subflow:870f4742.20a068","z":"63f2c02a.a071b","name":"","x":610,"y":700,"wires":[["e9ae1abf.af0ba8"]]},{"id":"d07e7269.e03d6","type":"change","z":"63f2c02a.a071b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Box2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":700,"wires":[["24e0b9b8.6358f6"]]},{"id":"361dd785.d0ae68","type":"ui_gauge","z":"63f2c02a.a071b","name":"","group":"ecb51754.161ae8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"units","format":"{{value}} C°","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1090,"y":760,"wires":[]},{"id":"83423dd.a7b5ec","type":"subflow:870f4742.20a068","z":"63f2c02a.a071b","name":"","x":610,"y":760,"wires":[["3bf5b186.7bc39e"]]},{"id":"d87cafcc.d20c5","type":"change","z":"63f2c02a.a071b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Box3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":760,"wires":[["83423dd.a7b5ec"]]},{"id":"a77800ee.ba51d","type":"ui_gauge","z":"63f2c02a.a071b","name":"","group":"ce503766.a63e38","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"units","format":"{{value}} C°","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1090,"y":820,"wires":[]},{"id":"2915d2ac.f96e6e","type":"subflow:870f4742.20a068","z":"63f2c02a.a071b","name":"","x":610,"y":820,"wires":[["c68e7229.e4d1f"]]},{"id":"a6e21651.782438","type":"change","z":"63f2c02a.a071b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Aussen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":820,"wires":[["2915d2ac.f96e6e"]]},{"id":"10800b3f.de9015","type":"change","z":"63f2c02a.a071b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":640,"wires":[["a6e67304.6d756"]]},{"id":"e9ae1abf.af0ba8","type":"change","z":"63f2c02a.a071b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":700,"wires":[["c046e46e.61a6d8"]]},{"id":"3bf5b186.7bc39e","type":"change","z":"63f2c02a.a071b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":760,"wires":[["361dd785.d0ae68"]]},{"id":"c68e7229.e4d1f","type":"change","z":"63f2c02a.a071b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":820,"wires":[["a77800ee.ba51d"]]},{"id":"f69d7e5.156ba8","type":"comment","z":"63f2c02a.a071b","name":"show the values by database query","info":"","x":200,"y":480,"wires":[]},{"id":"5fcc7676.8f5818","type":"debug","z":"d6ce2a7b.4b5958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":320,"wires":[]},{"id":"3b7d3855.46a2f8","type":"comment","z":"c2893362.6682b","name":"sensor address","info":"","x":100,"y":100,"wires":[]},{"id":"3f3e0c5e.ef0fd4","type":"function","z":"c2893362.6682b","name":"SQL statement","func":"msg.topic=\"SELECT * FROM iot_sensor WHERE id='\"+msg.topic+\"';\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["41aad08b.99e44"]]},{"id":"41aad08b.99e44","type":"mysql","z":"c2893362.6682b","mydb":"84e0a66a.37a498","name":"","x":450,"y":220,"wires":[["f2cb92c1.9494b"]]},{"id":"f2cb92c1.9494b","type":"function","z":"c2893362.6682b","name":"restore msg","func":"msg.payload=msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[[]]},{"id":"46093ab3.315be4","type":"subflow:c2893362.6682b","z":"63f2c02a.a071b","name":"","env":[],"x":390,"y":280,"wires":[["6124e168.6bda7"],[]]},{"id":"41c9a469.6e803c","type":"comment","z":"c2893362.6682b","name":"not found","info":"","x":930,"y":380,"wires":[]},{"id":"408f91b3.24e62","type":"comment","z":"c2893362.6682b","name":"sensor found","info":"","x":940,"y":200,"wires":[]},{"id":"48b52e0e.c8e17","type":"change","z":"63f2c02a.a071b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.address","tot":"msg"},{"t":"set","p":"value","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["46093ab3.315be4"]]},{"id":"93336bc0.5e93a8","type":"function","z":"c2893362.6682b","name":"backup msg","func":"return msg;","outputs":1,"noerr":0,"x":430,"y":40,"wires":[["3f3e0c5e.ef0fd4"]]}]